/* CSS Reset 👇 */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* CSS Styles 👇 */
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
* {
  font-family: "Kumbh Sans", sans-serif;
}
body {
 background-color: hsl(185, 75%, 39%); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.profile-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  background-color: white;
  max-width: 24rem;
  border-radius: 1em;
}
.profile-card::before {
  background-image: url('bg-pattern-top.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-card::after {
  background-image: url('bg-pattern-bottom.svg');
}
picture {
  background-image: url("bg-pattern-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
}
 .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.victor {
  justify-self: center;
  border: 5px solid white;
  width: 80px; 
  height: 40px;
  border-radius: 50%;
  transform: translateY(85px);
}
span {
  font-weight: 400;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
