/* CSS Reset 👇 */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/* CSS Styles 👇 */
:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
* {
  font-family: "Kumbh Sans", sans-serif;
}
body {
  background-color: hsl(185, 75%, 39%);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.125rem;
}
.profile-card {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  background-color: white;
  max-width: 25rem;
  margin-top: 6em;
  border-radius: 1em;
  font-weight: 400;
  color: var(--Dark-gray);
}
.profile-card h2 {
  padding: 4px;
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
}
.profile-card .six,
p {
  padding: 10px;
}
.profile-card .six {
  font-size: 20px;
  font-weight: 400;
  color: var(--Dark-gray);
}

.stast {
  display: block;
  font-weight: 400;
  color: var(--Dark-gray);
}
li {
  /* display: block; */
  font-weight: 700;
}
.six {
  font-size: 1.25rem;
}
body::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 1000px;
  background-image: url("bg-pattern-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  right: 80%;
  left: 0;
  z-index: -1;
}
body::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 900px;
  background-image: url("bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(50%, 50%);
  left: 10%; 
  right: -50%;
  top: -60%;
  z-index: -1;
}
picture {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("bg-pattern-card.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 130px;
  margin-bottom: 3em;
}
ul {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-content: space-between;
  border-top: 1px solid var(--Dark-gray);
  margin-top: 1em;
  padding: 1rem;
  gap: 2em;
  list-style: none;
  color: var(--Very-dark-desaturated-blue);
}

img {
  justify-self: center;
  border: 5px solid white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translateY(69px);
}
span {
  font-weight: 400;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
